
/*창 숨기기 css*/
@media screen and (max-width: 1550px) { 
	.hide{
	  display: none;
	}
  } 


/*창 숨기기 css*/

/*구글캘린더 style*/
.iframebox {position: relative; width: 100%;
	position:fixed; top: 207px; right: 5px; width: 350px; height: 350px; border:solid 1px #777}
.iframebox iframe {position: absolute;width: 100%;height: 100%;} 
/*구글캘린더 style*/

/*체크박스 스타일 css*/
element.style {
    position: absolute;
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(0px, -295px, 0px);
}
.dropdown-menu.show {
    display:list-item;
	
	/* display:contents; */
}
.dropdown-menu[x-placement^="top"], .dropdown-menu[x-placement^="right"], .dropdown-menu[x-placement^="bottom"], .dropdown-menu[x-placement^="left"] {
    right: auto;
    bottom: auto;
}
._1TqFIvlqEwjbBa93zFCKhf {
    padding: 0.5rem;
    margin: 0 -0.2rem;
    min-width: 100%;
}
.dropdown-menu {
    font-size: 16px;
    letter-spacing: -0.009em;
    line-height: 1.6;
    z-index: 1000;
    min-width: 7.5rem;
    border: 0;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 0.5rem rgb(20 20 84 / 4%), 0 0.5rem 1.125rem rgb(20 20 84 / 8%), 0 1rem 2rem -0.125rem rgb(20 20 84 / 8%), 0 0 0 0.0625rem rgb(20 20 84 / 12%);
    color: #263747;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 0.25rem;
}
/* *, *::before, *::after {
    box-sizing: border-box;
} */
user agent stylesheet
div {
    display: block;
}
.job-profiles-edit .control-panel .form-group, .job-positions-spa .control-panel .form-group {
    width: 100%;
    position: relative;
    flex: 1 auto;
    font-size: 1rem;
    margin: 0;
}
/*체크박스 스타일 css*/






@import url("https://fonts.googleapis.com/css?family=Exo:700");



/*CLEARFIX*/
.clearfix:after {content: ".";	display: block;	clear: both; visibility: hidden; line-height: 0; height: 0;} 
.clearfix {	display: inline-block;} 
html[xmlns] .clearfix {display: block;} 
* html .clearfix {height: 1%;}

/*CSS RESET*/
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,
menu,nav,output,ruby,section,summary,
time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,
q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}

/*내가 추가 style*/
.span{
	color: #ff0000;
}


/*GLOBALS*/
a{text-decoration:none;	}
body, hmtl{background: rgb(255, 251, 239); font-family: 'Exo', sans-serif;}


/*NAV*/
#nav-wrap{
	background-color:rgb(255, 175, 94);
	box-shadow:0px 1px 5px rgb(255, 255, 255);
	height: 60px;
	position:fixed;
	top:0;
	left:0;
	width:113%;
	z-index:100;
}

#nav{
	height: 60px;
	width: 700px;
	margin: 0 auto;
}

#nav ul{position:relative;}
#nav-indicator{
	position:absolute;
	width:100px;
	top:55px;
	left:0;
	height:5px;
	background:#ffffff;	
	
	-webkit-transition: all 0.2s ease;
	-moz-transition:    all 0.2s ease;
	-o-transition:      all 0.2s ease;
	-ms-transition:     all 0.2s ease;
	transition:         all 0.2s ease;
}

.nav-btn{
	width:99px;
	float:left;
	padding:24px 0;
	list-style:none;
	color:#fff;
	text-align:center;
	cursor:pointer;
	text-transform:uppercase;
	font-size:12px;
	color:#ccc;
	
	border-left:1px solid rgb(255, 175, 94);
	box-shadow: inset 1px 1px 0 rgb(255, 175, 94);
	
	text-shadow:rgba(0, 0, 0, 0.8) 1px 1px 0px;
}


.nav-btn:first-child{
	border:none;
	box-shadow: none;
}

.nav-btn:hover, .nav-btn.active {
	color:#FFF;
	background:rgb(255, 175, 94);
	box-shadow: inset 0px 1px 3px rgba(0,0,0,0.5) ;
}




/*CONTENT*/
#content-wrap{
	width: 800px;
	margin:100px auto 180px;
}
h1, h2{
	color:rgb(255, 175, 94);
	text-shadow:rgba(0,0,0,0.8) 1px 1px 1px;
	text-align:center;	
	
	-webkit-transition: all 0.5s ease;
	-moz-transition:    all 0.5s ease;
	-o-transition:      all 0.5s ease;
	-ms-transition:     all 0.5s ease;
	transition:         all 0.5s ease;	
}

h1{	font-size:36px;}
h2{font-size:16px;	margin:15px 0 40px;	}



.row{
	width:94%;
	padding:30px 3%;
	font-size:18px;
	color:rgb(255, 255, 255);
	border-bottom:1px solid rgb(255, 175, 94);
	box-shadow: inset 0 1px 0 rgb(255, 175, 94);
	background:rgb(255, 160, 65);
	position:relative;
	text-shadow:#ffe3b9cc 1px 1px 1px;
}

.row.active, h2{color:#f64242;}
.row.active{background:rgb(255, 175, 94);;}
.row span{text-decoration:line-through;}

.row-btn{
	position:absolute;
	top:25px;
	right:20px;
	background:#2b2b2b;
	border-bottom:1px solid rgba(255,255,255,0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5) ;
	width:40px;
	height:20px;
	border-radius:20px;
}

.circle{
	border-radius:50%;
	background:rgb(255, 255, 255);
	border-top:1px solid rgba(255, 238, 218, 0.2);
	box-shadow: 0 1px 0 rgba(255, 221, 221, 0.5) ;
	width:20px;
	height:20px;
	
	
}

.row.active .row-btn{	background:#f36666;}
.row.active .circle{	margin-left:20px;}


#top{
	width:40px;
	height:20px;
	background:#555;
	border-top:1px solid rgba(255,255,255,0.2);
	box-shadow: 0 1px 0 rgba(0,0,0,0.5) ;
	margin:30px auto;
	cursor:pointer;	
	color:#ccc;
	text-shadow:rgba(0,0,0,0.8) 1px 1px 1px;
	text-align:center;
	padding:15px;
}

#top:active{
	background:#333; 
	border-bottom:1px solid rgba(255,255,255,0.2);
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.5) ;	
	border-top:none;
}





/*ANIMATION*/
.row-btn, .circle, .row{
	-webkit-transition: all 0.1s ease;
	-moz-transition:    all 0.1s ease;
	-o-transition:      all 0.1s ease;
	-ms-transition:     all 0.1s ease;
	transition:         all 0.1s ease;	
}

/*hide left*/
h1{
	-moz-transform: translateX(-200px);
	-webkit-transform: translateX(-200px);
	-o-transform: translateX(-200px);
	-ms-transform: translateX(-200px);
	transform: translateX(-200px);
	opacity:0;
}

/*hide right*/
h2{
	-moz-transform: translateX(200px);
	-webkit-transform: translateX(200px);
	-o-transform: translateX(200px);
	-ms-transform: translateX(200px);
	transform: translateX(200px);	
	opacity:0;
}

/*Slide left > right || right > left*/
h1.animationActive, h2.animationActive {
	-moz-transform: translateX(0px);
	-webkit-transform: translateX(0px);
	-o-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);	
	opacity:1;
}