name: Run Crawler - Update data

 

on:

  schedule:

    - cron: '* */12 * * *'

 

 

jobs:

  build:

 

    runs-on: ubuntu-latest

    env:

      working-directory: ./crawl temp/crawl .py files

    steps:

    - uses: actions/checkout@v2

    - name: Set up Python 3.x

      uses: actions/setup-python@v1

      with:

        python-version: '3.x'

        architecture: 'x64'

    - name: Install dependencies

      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        
    - name: Run Crawler

      run: |
        python "공모전, 대외활동 - 인크루트, 씽콘, 콘테스트_코리아, 씽유, 스펙토리.py"
        python "스터디, 프로젝트 모집 - okky, 인프런.py"
        python "인턴십 - 사람인, 잡코리아, 인크루트.py"
        python "장학금, 지원금 - 드림스폰.py"
        python "취업 - 잡코리아, 프로그래머스.py"
        
      working-directory: ${{ env.working-directory }}

        

    - name: commits

      run: |
        git config --global user.email "kdgk9620@gmail.com"
        git config --global user.name "kimdonggeun111"
        git add -A
        git commit -m "update Crawling files"
      
      working-directory: ${{ env.working-directory }}
       

        

    - name: Push

      uses: ad-m/github-push-action@master

      with:

        branch: 'main'

        github_token: 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
